.title-container {
    width: 100%;
    padding-left: 20px;
    background-color: #e4e4e4;
}

.title {
    font-size: max(5vw, 27px);
}

.title-decorator {
    font-size: max(4vw, 25px);
    color: #b4b4b4
}