<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand fira-code-regular" href="#">fafandroso 👨🏽‍💻</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      </ul>
    </div>
  </div>
</nav>

<!-- Navegación -->
<div id="page-container">
  <router-outlet></router-outlet> 
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>fafa >> programador (UTN) :: estudiante de economía (UBA) :: militante político (FPG)</span>
    </div>

    <div>
      <a href="mailto:juanmanuelbf@gmail.com" target="_blank" class="me-4 text-reset">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.linkedin.com/in/juan-manuel-barreda-fafasuli/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://twitter.com/fafandroso" target="_blank" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </section>

</footer>