<style>
    
    

</style>

<section-title-component [title]="'Proyectos de fafa 🙋🏽‍♂️'"></section-title-component>

<br>

<div class="container">

        <div class="row justify-content-center">
            
            <div class="col-md">
                <a class="card" [routerLink]="['/s/tablero-ingresos']">
                    <div class="card-top fira-code-bold">
                        Tablero de ingresos
                    </div>
                    <div class="card-body ">
                        
                        <span class="card-text">Evolución de los ingresos reales y distribución del ingreso.</span>
                    </div>
                </a>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
        </div>

</div>