<section-title-component [title]="'Tablero de ingresos.'"></section-title-component>

<br>

<div class="container">

    <p class="fira-code-regular">
        <span class="p-start fira-code-bold">>></span> El objetivo del tablero es entender de qué manera han evolucionando 
        los ingresos percibidos por los trabajadores en Argentina en el mediano plazo (5 años) y el corto plazo (a/a) 
        y ver los cambios en la distribución funcional del ingreso. La variedad de indicadores seleccionados responde 
        a la diversidad que presenta el mundo del trabajo en Argentina y a las limitaciones existentes en la medición 
        de diferentes modalidades ocupacionales (especialmente para trabajadores excluidos del empleo privado).
        <br>
        <br>
        Más informacion sobre los indicadores utilizados y metodologías en <a href="https://docs.google.com/document/d/1S_rD9BB2sPi1O5UkMkx3FnwkMU13IDCoBa7-H6l1kZ8" target="blank_">anexo metodológico</a>.
        <br>
        La base de datos está disponible en <a href="https://docs.google.com/spreadsheets/u/0/d/1z6CVaxmKXwofm-FInfBX5jUPeR2tTvO3nSp2LBGzLNM" target="blank_">formato excel</a>.
    </p>    

    <iframe width="100%" height="4205" src="https://datastudio.google.com/embed/reporting/dade0b1f-09e2-4a13-8a8d-8ace3226c664/page/LB6yC" frameborder="0" style="border:0" allowfullscreen></iframe>
 
</div>